ipdb
ipykernel
matplotlib
pytest
seaborn
numpy
pandas
scipy
scikit-learn
google-cloud-bigquery
google-cloud-storage==2.14.0
google-api-core==2.8.2
googleapis-common-protos==1.56.4
h5py==3.10.0
db-dtypes
openpyxl
optuna
xgboost
opencv-python
catboost
python-dotenv
fastapi
uvicorn
pydantic
joblib


#mlflow==2.1.1

python-dotenv
